.Meet1{
    animation: Meet1 4s ease-in-out infinite;
}

.Meet2{
    animation: Meet2 4s ease-in-out infinite;
}

.InfoTextImage{
    display: inline-block;
    aspect-ratio: 1;
    width: 40px;
    border-radius: 3px;
}

@keyframes Meet1 {
    0% { scale: 1; }
    25% { scale: 0; }
    50% { scale: 1; }
}

@keyframes Meet2 {
    50% { scale: 1; }
    75% { scale: 0; }
    100% { scale: 1; }
}