.PopupTittle{
    color: #515151;
    user-select: none;
}

button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    background-color: #f5b984;
    border: solid #b58a65 1px;
    cursor: pointer;
}

button:hover{
    border: solid #b58a65 3px;
}

.popupContainer{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup{
    position: absolute;
    background-color: #F5CBA7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.popupContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5%;
}

.example{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.example img{
    aspect-ratio: 1;
    width: 20%;
    border-radius: 10%;
    user-select: none;
}

.popupContent span{
    margin-bottom: 10px;
    color: #515151;
    user-select: none;
}

@media (min-aspect-ratio: 1.1) {
    .popup{
        aspect-ratio: 16/9;
        width: 65dvw;
        max-width: 1100px;
    }
}

@media (max-aspect-ratio: 1.1) {
    .popup{
        aspect-ratio: 9/17;
        height: 65dvh;
    }
}