h1{
    color: white;
}

.FormContainer{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: start;
    align-items: center;
    z-index: 1;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: black;
    border-radius: 10px;
}

form input{
    padding: 6px;
    background-color: transparent;
    border: 2px solid #F5CBA7;
    border-radius: 8px;
    color: white
}