body{
    overflow: hidden;
}

.HomePageContainer{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100dvh;
    width: 100%;
    user-select: none;
    background-image: url("/public/Images/cozinha.png");
    background: cover;
    z-index: -5;
    background-size: cover;
    overflow: hidden;
}

.Glass{
    position: absolute;
    width: 100%;
    height: 100dvh;
    background-color: #403e46d0;
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.HomePageContainer nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    background-color: black;
}

.HomePageContainer h1{
    color: #F5CBA7;
    text-align: center;
}

.HomePageContainer .NavBlock{
    height: 60%;
    aspect-ratio: 16/9;
    margin: 8px;
    padding: 3px;
}

.HomePageContainer .Login{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color:#F5CBA7;
    text-align: center;
    font-weight: 700;
    border: 2px solid #F5CBA7;
    cursor: pointer;
    z-index: 10;
}

.MiniGameCardContainer{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    z-index: 1;
}

.MiniGameCard {
    background-color: rgb(152, 152, 152);
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    width: 90%;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    border-radius: 3px 3px 85px 3px;
    border-bottom: 6px solid rgb(228, 228, 228);
    border-top: 8px solid rgb(116, 116, 116);
    transition: 1s all ease-in-out;
}

.MiniGameCard:hover{
    background-color: rgb(186, 186, 186);
    border-top: 8px solid rgb(140, 140, 140);
}

.Knife{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s all ease-in-out;
}

.KnifeCabe{
    padding: 15px;
    width: 10%;
    background-color: rgb(143, 87, 14);
    border-radius: 10px 0px 0px 10px;
    max-width: 100px;
}

.KnifeCabe .Hole{
    background-color: rgb(103, 63, 10);
    width: 20%;
    aspect-ratio: 1;
    border-radius: 100%;
}

.Knife:hover{
    transform: translateX(8%) rotateZ(-3deg);
}

.HomePageContainer footer{
    width: 100%;
    height: 10dvh;
    min-height: 65px;
    background-color: black;
    z-index: 2;
}

.FooterCardContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.FooterCardLeft, .FooterCardRight{
    width: 45%;
    height: 90%;
    margin: auto;
    color: white;
}

.FooterCardRight{
    text-align: right;
}

.ChefeImage{
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    height: 95dvh;
    z-index: 0;
    animation: ChefeEnter 3s;
}

@media (max-aspect-ratio: 1){
    .MiniGameCard{
        width: 55%;
        border-radius: 3px 3px 45px 3px;
    }
    .ChefeImage{
        position: absolute;
        top: 80%;
        transform: translateY(-40%);
        height: 95dvh;
    }
}

@media (max-aspect-ratio: 1.3) {
    .MiniGameCard{
        width: 70%;
        font-size: 1.4rem;
    }
}

@media (min-aspect-ratio: 1.3) {
    .MiniGameCard{
        width: 80%;
        max-width: 550px;
    }
}

@keyframes ChefeEnter {
    0% {right: -500px;}
    100% {right: -100px;}
}